output/
data_raw/
data_weather/
data/
sig/
GIS/
wc0.5/
archive/
data_csv-Copie/
data_csv/
DB_import/
outputImport/
data_cache/
export/
data_various/

.Rproj.user
.Rhistory


rmd/#*.rmd#


*.r~
*.dbf
*.prj
*.qpj
*.shp
*.shx
*.pdf
*.pjg
*.zip
*.gz
*.Rdata
*.rds
*.r#
*.rmd~
*.nc
*.org
*.org~
*.zip
_*.sql

my*



.#*
*.html


*_cache/


