output/
data_raw/
data_weather/
data/
sig/
GIS/
wc0.5/
archive/
data_csv-Copie/
data_csv/
DB_import/
outputImport/
output/
*data_cache/
export/
data_various/

.Rproj.user
.Rhistory

*.r~

*.dbf
*.prj
*.qpj
*.shp
*.shx
*.png
*.pdf
*.pjg
*.zip
*.gz
*.Rdata
*.rds
*.r#
*.rmd~
*.nc
*.org
*.org~
*.zip
_*.sql

my*



.#*
*.md


*_cache/
*_files/

rmd/*.html
rmd/#*
